<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Accuiel-Cat-set</title>
    <link rel="stylesheet" th:href="@{style/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    body {background-color: #ACC8E5; color: #112A46; }
  </style>
</head>
<body>
  <h1>Bienvenue sur Cat-set</h1>
   <a th:href="@{login}">Connexion </a>
  <a th:href="@{register}">Inscription </a>
</body>
</html>